{% extends 'layout.html' %}
{% block body %}

    <h1>¡Encontremos a tu mascota!</h1>
    <br>
      <div class="container">
          <div class="row-index">
            <a   href="register_user.html">Registro de Usuario</a>
          </div><br>
          <div class="row-index">
            <a   href="register_lost_pet.html">Registro de Mascota Perdida</a>
          </div><br>
          <div class="row-index">
              <a href="show_pets.html">Lista de Mascotas</a>
          </div>
      </div>


{% endblock %}