{% extends 'layout.html' %}
{% block body %}

    <h1>¡Encontremos a tu mascota!</h1>
    <br>
      <div class="container">
          <div class="row">
            <a class="float-left btn btn-danger" style="font-weight:bold" href="register_user">Registro de Usuario</a>
          </div><br>
          <div class="row">
            <a class="float-left btn btn-danger" style="font-weight:bold" href="register_lost_pet">Registro de Mascota Perdida</a>
          </div><br>
          <div class="row">
              <a class="float-right btn btn-danger" style="color: white; font-weight:bold" href="show_pets">Lista de Mascotas</a>
          </div>
      </div>


{% endblock %}