{% extends 'layout.html' %}
{% block body %}
<div class="div-header">
    <div class="card_more">
        <div class="row">

        <h1>Registrar usuario</h1>
        <br>
        <form method="POST" enctype="multipart/form-data">
        {{form.csrf_token}}
        </div>
        <div class="col-md-6">

            <table>
                <tr>
                    <td>{{form.first_name.label}}</td>
                    <td>{{form.first_name(size=20)}}</td>
                </tr>
                <tr>
                    <td>{{form.last_name.label}}</td>
                    <td>{{form.last_name(size=20)}}</td>
                </tr>
                <tr>
                    <td>{{form.user_name.label}}</td>
                    <td>{{form.user_name(size=20)}}</td>
                </tr>
                <tr>
                    <td>{{form.password.label}}</td>
                    <td>{{form.password(size=20)}}</td>
                </tr>
                <tr>
                    <td>{{form.email.label}}</td>
                    <td>{{form.email(size=20)}}</td>
                </tr>
                <tr>
                    <td>{{form.id_country.label}}</td>
                    <td>{{form.id_country(size=1)}}</td>
                </tr>
                <tr>
                    <td>{{form.id_department.label}}</td>
                    <td>{{form.id_department(size=1)}}</td>
                </tr>
                <tr>
                    <td>{{form.id_city.label}}</td>
                    <td>{{form.id_city(size=1)}}</td>
                </tr>
            </table>
            </div>
        </div>
        <div class="Publicar"></div>

                </br>
                {{form.submit()}}
        </div>
        </form>
    </div>
    <script>

    </script>

{% endblock %}